html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
}

.card {
  width: 380px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 1px 1px hsl(0, 0%, 7%);
}

.content {
  margin: 22px;
}

.main-img {
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

span {
  padding: 5px 10px;
  background-color: hsl(47, 88%, 63%);
  border-radius: 5px;
  font-weight: 800;
  display: inline-block;
  margin-bottom: 10px;
}

.time-stamp {
  color: hsl(0, 0%, 7%);
  font-weight: 500;
}

.title {
  font-weight: 800;
  margin-top: 15px;
}

.info {
  color: hsl(0, 0%, 42%);
  font-weight: 500;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 800;
  font-size: 14px;
}

.profile-img {
  width: 40px;
  height: 40px;
}

.attribution {
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.card:hover {
  cursor: pointer;
  transform: translateY(2px);
}

@media (max-width: 376px) {
  .card {
    width: 90%;
    margin: 10px;
    box-shadow: 6px 6px 0 0 hsl(0, 0%, 7%);
  }

  .content {
    margin: 18px;
  }

  .title {
    font-size: 18px;
  }

  .info {
    font-size: 14px;
  }

  .author-info {
    font-size: 12px;
  }
}
